html,body{
    margin:0px;
    padding:0px;
}
body{
    background-image: url(Assets/oven.jpg);
    background-repeat: repeat;
    background-position:center;
    background-size: cover;
    background-color: rgb(99, 93, 89);
    background-blend-mode: multiply;
}

.main{
    margin-top: 16px;
    display:flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.menu-cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    height: 95%;
    width: 78%;
}

.menu-card{
    margin: 10px;
    display: flex;
    flex-flow: column;
    max-width: 280px;
    max-height: 400px;
    background-color: whitesmoke;
    
}

.item-image-container{
    display:flex;
    align-items:center;
    justify-content: center;
    background-image: url(Assets/plate.avif);
    background-position: center;
    background-size: 100%;
    height: 30%;
}

.item-image{
    width: 80%;
}

.item-title-container{
    padding:10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 10%;
}

.item-ingredients{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    margin: 0px 20px 15px 20px;
    text-align: justify;
    color:rgba(0, 0, 0, 0.74);
    height: 10%;
}


.menu-card:hover{
    box-shadow: 0px 0px 10px 4px rgba(14, 13, 13, 0.822);
}

.menu-card:hover .item-image{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.item-image{
    transition: all 0.5s ease-in-out;
}

.size-and-crust{
    padding:10px;
    display:flex;
    flex-flow: column nowrap;
    height: 50%;
}

.selectors-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 25%;
}

#selector-label{
    justify-self: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
}

h3{
    margin:0;
}

.size-select,.crust-select{
    height: 35px;
    font-size: 14px;
    font-weight: 800;
    color:rgb(27, 26, 26);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.size-select{
    flex-grow: 2;
}

.crust-select{
    flex-grow: 1;
}

.add-to-cart-container{
    padding:10px;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.add-to-cart{
    height:35px;
    width: 95%;
    background-color: rgb(161, 18, 18);
    color:aliceblue;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
}

.add-to-cart:hover{
    cursor: pointer;
    background-color: rgb(114, 13, 13);;
}

.cart-container{
    height: 80vh;
    width: 20%;
}

.cart{
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px 4px rgba(250, 21, 21, 0.418)
}

#cart-title{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #888585;
}
#cart-title::before, #cart-title::after{
    content:"______";
}

.empty-icon{
    width: 30%;
}

.cart-items{
    height:70vh;
}


#cart-message{
    color: #888585;
}


.navbar{
    height: 19vh;
    margin-top: 10px;
    background-color: rgb(161, 18, 18);
}

.logo{
    display: flex;
    flex-flow: column wrap;
    height: 300px;
    width:300px;
}


.logo-div, #logo-image{
    width: 53px;
    height: 37px;
}

.navbar-flex-container{
    margin:0;
    padding-top:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.title{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

.title h1{
    margin:0;
}



.tabs-div-flex-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.tabs-div-container{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.363);
}

.tabs-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width:60%;
}

.tabs-flex-item{
    flex-grow: 1;
}

.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:aliceblue;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    height: 39px;
}

.tab:hover {
    background-color: black;
    color:aliceblue;
}

