html,body{
    margin:0px;
    padding:0px;
}
body{
    background-image: url('oven.jpg');
    background-repeat: repeat;
    background-position:center;
    background-size: cover;
    background-color: rgb(99, 93, 89);
    background-blend-mode: multiply;
}
h1{
    margin: 0;
}
.main{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.menu-card{
    display: flex;
    flex-flow: column;
    height: 600px;
    width: 400px;
    margin: 10px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    background-color: whitesmoke;
    
}
.item-image-container{
    display:flex;
    align-items:center;
    justify-content: center;
    background-image: url(woodplate.jpg);
    height: 250px;
    flex:300px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.item-image{
    transform: scale(0.7);
}

.item-title-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item-price{
    margin-right: 20px;
}
.item-title{
    margin-left: 20px;
}

.item-ingredients{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 20px 15px 20px;
    text-align: justify;
    color:rgba(0, 0, 0, 0.74);
}

.navbar{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 200px;
    background-color: rgba(0, 0, 0, 0);
    height: 100px;
}

#logo-image{
    float:left;
    width: 100%;
    height: 100%;
}
.logo{
    display: flex;
    flex-flow: column wrap;
    height: 300px;
    width:300px;
}

#menu{
    color:aliceblue;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-card:hover{
    box-shadow: 0px 0px 10px 4px rgba(236, 90, 5, 0.822);
}
.menu-card:hover .item-image{
    transform: scale(0.87);
    transition: all 0.5s ease-in-out;
}
.item-image{
    transition: all 0.5s ease-in-out;
}

.size-and-crust{
    display:flex;
    flex-flow: column nowrap;
}
.selectors-container{
    display:flex;
    flex-flow: row nowrap;
    margin: 20px;
}

#selector-label{
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.size-select,.crust-select{
    flex:1;
    margin: 3px;
    height: 50px;
    font-size: 18px;
    font-weight: 800;
    color:rgb(27, 26, 26);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.add-to-cart-container{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.add-to-cart{
    flex:0.8;
    height:50px;
    background-color: chocolate;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.menu-card:hover{
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.menu-card{
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;
}